.flex_container{
    display: flex;
    background-color: violet;
}

.flex_container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex_container2{
    display: flex;
    justify-content: space-between;
    background-color: violet;
}

.teste{
    display: flex;
    flex-direction: column;
}
.flex_container2 div{
    background-color: white;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}