*{
    box-sizing: border-box; /*DELIMITANDO O TAMANHO, ELE CONSERVA AS DIMENSÕES DE ACORODO COM O VALOR, MESMO ADICIONANDO PADDING */
}
.box1{
    float: left;
    width: 33.33%;
    padding: 50px;
    background-color: #bbb;
}

.box2{
    float: left;
    width: 33.33%;
    padding: 50px;
    background-color: rgb(131, 130, 130);
}

.box3{
    float: left;
    width: 33.33%;
    padding: 50px;
    background-color: rgb(77, 77, 77);
}

.clearfix{
    border: black 2px solid;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}